@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700&display=swap');

:root {
  --color-primary: #DCDCE6;
  --color-secondary: #7689F3;
  --color-tertiary: #D3FBD8;
  --bg-primary: #1F1F26;
  --bg-secondary: #373B4E;

  --font-family: 'IBM Plex Mono', monospace;
  --font-weight: 500;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-weight: var(--font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
}

.header-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 3em;
}

.header-icon {
  background-color: var(--bg-primary);
  border: none;
}

.header-icon:first-child {
  margin-right: auto;
}